<html>
    <%- include('partials/head')%>
<body>
    <header>
        <a href="/">Blogs</a>
    </header>
    <button id="nav">+</button>
    <hr>
    <%- include('partials/nav_tab')%>
    <div id="blogs">
        <%for(blog of Blogs){%>
        <a href="blog/<%= blog.id%>"><h1><%= blog.title%></h1></a>
        <h6><%= blog.body%></h6>
        <%}%>
    </div>
</body>
    <%- include('partials/foot')%>
</html>