<html>
    <%- include('partials/head')%>
<body>
    <header>
        <a href="/">Blogs</a>
    </header>
    <button id="nav">+</button>
    <hr>
    <%- include('partials/nav_tab')%>
    <div id="blogs">
        <h1><%= Blog[0].title%></h1>
        <h6><%= Blog[0].body%></h6>
    </div>
</body>
    <%- include('partials/foot')%>
</html>